SHARK_AUTH_URL=http://localhost:8080
SHARK_ADMIN_KEY=

PLATFORM_CLIENT_ID=
PLATFORM_CLIENT_SECRET=

TRIAGE_CLIENT_ID=
TRIAGE_CLIENT_SECRET=

KNOWLEDGE_CLIENT_ID=
KNOWLEDGE_CLIENT_SECRET=

EMAIL_CLIENT_ID=
EMAIL_CLIENT_SECRET=

GMAIL_TOOL_CLIENT_ID=
GMAIL_TOOL_CLIENT_SECRET=

CRM_CLIENT_ID=
CRM_CLIENT_SECRET=

FOLLOWUP_CLIENT_ID=
FOLLOWUP_CLIENT_SECRET=
